# Rust build
/target/
**/*.rs.bk
*.pdb
# Cargo.lock

# WASM build
/web/
/pkg/
/dist/

# Backup
/backup/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.log

# Debug
*.dSYM/

# MacOS
.DS_Store
.AppleDouble
.LSOvveride
**/._*

# Windows
Thumbs.db
ethumbs.db
Desktop.ini

# Linux
*~
